<h1>Contact Us</h1>

<h2>Greetings !</h2><br>

<h4>We’re based at the heart of Manila.</h4>
	<p>
		2708 Legarda Street Sampaloc
		Manila 1008, Philippines
	</p><br>
	<p>
		If you have any questions regarding our services 
		and capabilities, drop us a message or give us a 
		call at
	</p> 

	<p><center>+632 6215373 or +639178659956</center></p>

	<p>Also, you can send sms at</p>

	<p><center>0927 8161914 ( Project Engineer )</center></p>

<p>For other inquiries or concerns…</p>
	<ul>
		<li>Service and Support</li>
		<li>Investor Relations</li>
		<li>Media Relations</li>
	</ul>
