
body {
	margin: 0;
  padding: 0;
	background-color: #eee;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	text-align: center;
	color:  #666666;
}

header {
  background-color: #03507B;
  color: #FFF;
  border-bottom: solid 5px #00395A;
	font-size: 16px;
}
.container {
	width:1200px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	left: 10px;
	background-color:#eee;
	}


sidebar {
	float:right;
	width:230px;
	padding:10px;
	background: #fff;
	height: 900px;
}

section {
  margin-top: 0em;
  font-size: 80%;
  padding: 20px;
  background: #fff;
	height: 900px;
}


/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}


nav {
  background-color: #03507B;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: normal;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  float: center;
  margin-top: 0px;
  width: 1200px;
	font-size: 100%;
	font-style:italic;
}




